/*for ref remove when done*/
div, 
main,
section,
footer,
header
{
  outline: 1px solid #ccc;
  min-height: 2rem;
  /* padding: 2 rem; */
}


/* TEXT STYLES */
body {
    font-family: Ubuntu, sans serif;
    font-weight: normal;
    color: #3B3B3B;
}

h1,
h2,
h3,
h4 { 
  text-align: center;
  font-weight: normal;
}

h4, 
.page__services__main__service__para {
    color: #939393;
}

p.page__footer__content__about__para, 
p.page__footer__content__mastodon__content__para
 {
    font-family: Open sans, sans serif; 
    font-size: 9px;
}

p.page__footer__ceo__story__para {
  font-family: Open sans, sans serif;
  font-size: 12px;
}
.page__blog__main__desc__content {
  font-family: Ubuntu, sans serif;
  color: #ffff;
}

.page__blog__main__desc__content__heading {
  text-align: left;
}


/* HEADER */

.page__header__nav__logo {
    display: flex;
    align-items: flex-end;
  }
  
  .page__header__nav__logo__img {
    height: 3rem;
    vertical-align: bottom;
    margin-left: 0.5rem;
  }

  .page__header__nav__main-menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .page__header__nav__main-menu__btn {
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: flex-end;
    padding: 0.5rem;
    box-sizing: border-box;
    text-decoration: none;
    transition: 0.25s;
  }
  .page__header__nav__main-menu__btn:nth-child(1) {
    background: #25C389;
  }
  .page__header__nav__main-menu__btn:nth-child(2) {
    background: #FFB901;
  }
  .page__header__nav__main-menu__btn:nth-child(3) {
    background: #DE6262;
  }
  .page__header__nav__main-menu__btn:nth-child(4) {
    background: #19B2DE;
  }
  
  .page__header__nav__main-menu__btn__text {
    color: white;
  }

  .page__header__nav__main-menu__btn:hover {
    background: #F0F08C;
    color: #0057C2; 
  }
  
  .page__header__nav__main-menu__btn:hover .page__header__nav__main-menu__btn__text__secondary {
    color: #F0F08C;
  }

  .page__banner {
    margin: 0 1rem;
    margin: 0 auto;
    background-color: #EBEBEB;
  }
  .page__banner-row {
    width: 100%;
    margin: 0 auto;
    max-width: none;
    position: relative;
    box-sizing: border-box;
    margin: 0 1rem;
  }
  .page__banner-col {
    position:absolute;
    top: 60%;
    left: 3vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 10;
    transform: translateY(-50%);
  }
  .page__banner__img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  .page__banner__flag-link {
    text-decoration: none;
  }
  .page__banner__flag {
    background-color: rgba(255, 255, 255, 0.80);
    display: inline-block;
    width: fit-content;
    padding: 0.5vmax 1vmax;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .page__banner__flag-link:nth-child(1) {
    border-left: 1vmax solid #186AA2;
  }
  .page__banner__flag-link:nth-child(2) {
    border-left: 1vmax solid #DE6262;
  }
  .page__banner__flag-link:nth-child(3) {
    border-left: 1vmax solid #FFB901;
  }
  
  .page__banner__flag__txt {
    vertical-align: middle;
    font-size: 2vmax;
    color: #3C3C3C;
    font-style: normal;
    font-weight: 500;   
    line-height: normal;
  }
  
  .page__intro__text__secondary {
    color: #1EAFDE;
  }

/* SERVICES SECTION */

.page__services__main__service__icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 5rem;
  height: 5rem;
}

div.page__services__main__service-row {
  display: grid;
  row-gap: 2 rem;
}


.page__services__main__service__content{
  font-family: Ubuntu, sans serif;
  text-align: left;
}
 
.page__services__main__service__para {
  padding: 0;
  margin: 0;
}




/* BLOG SECTION */

.page__blog__main__entry{
  background: url(../blog_and_portfolio_photo/IMG_Content.png);
  background-size: cover;
  background-position: center;
  height: auto;
  width: 100%;
  position: relative;
  margin: auto;
  aspect-ratio: 4/3;
}
.page__blog__main__entry__date{
  background-color: #D8605F;
  position: absolute;
  top: 0;
  left: 0; 
  z-index: 1;
  width: 56px;
  height: 34.276px;
  color: white;
  font-family: Ubuntu, sans-serif;
}


.page__blog__main__desc__content {
  background-color: rgb(94, 177, 255);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 48px;
  z-index: 2;
}

.page__blog__main__desc__box {
  background-color: #1596BD;
  position: absolute;
  bottom: 0; 
  right: 0; 
  width: 30px; 
  height: 28px;
  z-index: 3;
  margin: 3%;
}

.page__blog__main__desc__content__heading,
.page__blog__main__desc__content__tags,
.page__blog__main__entry__date__day,
.page__blog__main__entry__date__month-year 
{
  padding: 0;
  margin: 0;
}

.page__blog__main__entry__date__day {
  font-size: 14pt;
  text-align: center;
}

.page__blog__main__entry__date__month-year {
  font-size: 8pt;
  text-align: center;
}



/* PORTFOLIO SECTION */

.page__portfolio__main__link {
    display: inline-block;
    width: 100%;
    height: auto;
    text-decoration: none;
    aspect-ratio: 4 / 3;
}

.page__portfolio__main__project {
    position: relative;
    background: url("../blog_and_portfolio_photo/IMG_Content.png"); 
    background-size: cover;
    background-position: center;
    width: 100%; 
    height: 100%; 
    overflow: hidden;
}

.page__portfolio__main__link:hover .page__portfolio__main__project {
    animation: bounceImage 0.5s cubic-bezier(0.22, 1.2, 0.32, 1);
}

.page__portfolio__main__project::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(25, 178, 222, 0.83);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.page__portfolio__main__link:hover .page__portfolio__main__project::before {
    opacity: 1;
}

.page__portfolio__main__link:hover .page__portfolio__main__project__desc{
    display: block;
}

.page__portfolio__main__project__desc {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0;
    margin: 0;
    display: none;

}

.page__portfolio__main__project__desc__heading, .page__portfolio__main__project__desc__tags{
    margin: 0;
    padding: 0;
    color: #ffff;
}



/* CLIENTS */


.page__clients__main__client{
  display: flex;
  padding: 3%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F3F3F3;
  position: relative;
  margin: auto;
  aspect-ratio: 4/3;
}



/* FOOTER */




.page__footer__contet__social-media__email__submit{
  height: 50px;
}

.page__services__main {
    max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}

.page__clients__main {
    max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}


.page__blog__main {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
}

.page__header__nav {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
}

.page__banner-row {
    max-width: 1200px;
      margin: 0 auto;
      display: grid;
      gap: 1rem;
  }

.page__portfolio__main {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
}

.page__footer__content__instagram {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
}

.page__footer__contet__social-media {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}
    .page__footer__ceo {
      max-width: 1200px;
      margin: 0 auto;
      display: grid;
      gap: 1rem;
    }
  .page__footer__ceo__story {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
  }

.page__footer__content__about {
  max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
}

.page__footer__content__instagram__photos {
  max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    padding: 50px;
}



/* Small only */
@media screen and (max-width: 39.9375em) {
  .page__clients__main {
      display: none !important;
  }
  .page__header__nav__main-menu {
      display: none;
  }
  .page__banner {
    display: none !important;
  }
  .page__footer__content__instagram {
    display: none !important;
  }
  .page__footer__content__about {
    display: none !important;
  }
  .page__footer__ceo,
  .page__footer__ceo__story { grid-template-columns: repeat(2, 1fr); } 

  .page__footer__content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;}

  .page__footer__ceo { order: 1; }
  .page__footer__contet__social-media { order: 2; }
  .page__footer__content__mastodon { order: 3; }

  .page__services__main__service__title{
    text-align: left;
  }


  /* BLOG STYLING RESPONSIVE */

.page__blog__main__entry {
      width: 400px;
      height: 250px;
  }
  .page__blog__main__desc__box {
      background-color: #1596BD;
      position: absolute;
      bottom: 0; 
      right: 0; 
      width: 30px; 
      height: 28px;
      z-index: 3;
      margin: 2%;
  }

  /* SERVICES SECTION RESPONSIVE CSS */

  .page__services__main__service {
    display: flex;
    flex-direction: row; 
    align-items: flex-start; 
    gap: 1rem;
}


.page__services__main__service__content {
    display: flex;
    flex-direction: column; 
    text-align: left;
}
.page__services__main__service__title {
  margin-top: 0%;
}

}


/* Medium and up */
@media screen and (min-width: 40em) {
  .page__services__main { grid-template-columns: repeat(2, 1fr); }
  .page__clients__main { grid-template-columns: repeat(3, 1fr); }
  .page__blog__main { grid-template-columns: repeat(2, 1fr); }
  .page__portfolio__main { grid-template-columns: repeat(2, 1fr); }

  .page__services__main { grid-template-columns: repeat(2, 1fr); }
  .page__clients__main { grid-template-columns: repeat(3, 1fr); }
  .page__blog__main { grid-template-columns: repeat(2, 1fr); }
  .page__portfolio__main { grid-template-columns: repeat(2, 1fr); }

  .page__footer__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;}

    .page__footer__content__about { order: 1; }
    .page__footer__content__instagram { order: 2; }
    .page__footer__content__mastodon { order: 3; }
    .page__footer__contet__social-media {order: 4;}

    /* CLIENT RESPONSIVE STYLING */
    .page__clients__main__client{
      width: 70%;
      height: 70%;
      background-color: #F3F3F3;
      position: relative;
      margin: auto;
      aspect-ratio: 4/3;
    }
}


/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .page__blog__main__entry:first-child {
      grid-column: 1/3;
  }
  .page__footer__content__instagram__photos {grid-template-columns: repeat(4, 1fr); }

 /* BLOG SECTION RESPONSIVE CSS */
 #page__blog__main__entry__responsive {
  width: 700px;
  height: 350px;
}
/* #page__blog__main__desc__responsive {
  background-color: rgb(94, 177, 255);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 2;
} */
#page__blog__main__desc__box__responsive {
  background-color: #1596BD;
  position: absolute;
  bottom: 0; 
  right: 0; 
  width: 40px; 
  height: 38px;
  z-index: 3;
  margin: 1.5%;
}
/* HEADER SECTION RESPONSIVE */
.page__header__nav__logo__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
.page__banner-row {
    padding: 0 1rem;
}
.page__banner__flag__txt {
    font-size: 2.5vmax;
}
}

/* Large and up */
@media screen and (min-width: 64em) {
  .page__services__main { grid-template-columns: repeat(4, 1fr); }
  .page__clients__main { grid-template-columns: repeat(5, 1fr); }
  .page__blog__main { grid-template-columns: repeat(3, 1fr); }
  .page__header__nav { grid-template-columns: repeat(2, 1fr); }
  .page__portfolio__main { grid-template-columns: repeat(3, 1fr); }

  .page__footer__content { grid-template-columns: repeat(4, 1fr); }

  .page__footer__content__instagram__photos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}


}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {

}
